[user]
    email = {{ .github.email }}
    name = arsenty
[core]
    excludesfile = ~/.gitignore_global
    editor = ~/.bin/editor
    whitespace = trailing-space,space-before-tab
    hooksPath = ~/.gittemplates/hooks
[init]
    templatedir = ~/.gittemplates
    defaultBranch = master
[push]
    default = current
    followTags = true
