Host *
  ServerAliveInterval 2400

Host gift
  Hostname {{ .gift.host }}
  User  {{ .gift.user }}
  Port 44262
  #ForwardAgent yes

Host org
  Hostname {{ .org.host }}
  User  {{ .org.user }}
  ForwardAgent yes
  RequestTTY yes
  #RemoteCommand tmux a

Host rss
 Hostname {{ .rss.host }}
 User  {{ .rss.user }}
