{{ if eq .chezmoi.os "linux" -}}
    #!/bin/sh

{{ else if eq .chezmoi.os "darwin" -}}
    #!/bin/sh
    /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
    sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
    brew tap caskroom/cask

    #Install Apps
    brew install $(grep -e "- " < ~/org/pages/apps.md | sed -e 's/- //g' | tr '\n' ' ')
{{ end -}}

#Install ViM packages
sh ~/.shortcuts/git-submodule.sh
