{{ if eq .chezmoi.os "linux" -}}
    #!/bin/sh

{{ else if eq .chezmoi.os "darwin" -}}
    #!/bin/sh
    /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
    sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
    brew tap caskroom/cask

    #Install Apps
    regex='- [a-z]'
    while read line
    do
        if [[ $line =~ $regex ]]
            then brew install $(cut -c 2- <<<"$line")
        fi
    done < ~/org/pages/apps.md

    #Enable Developer menu in Safari
    defaults write com.apple.Safari IncludeDebugMenu -boolean true
    
    # Install ViM packages
    regex='"Plugin'
    while read line
    do
        if [[ $line =~ $regex ]]
            then cd ~/.vim/pack/start; git clone https://github.com/$(echo "$line" | cut -d "'" -f2 | cut -d "'" -f1)
        fi
    done < ~/.vimrc
{{ end -}}
